/* CSS Document */
p{ color:rgba(7,20,59,1.00);
    font-family: Arial, Helvetica, san-serif;
    font-size: 40px;
}
h1{text-align:center; 
color:rgba(47,10,11,1.00); 
}

h2{ text-align:center;
color: rgba(32,36,26,1.00);
}

