/* CSS Document */
p{ color:#424242;
	
    font-family: Arial, Helvetica, san-serif;
    font-size: 20px;
	background-color: #ffcc99;
	padding: 20px;
	margin: 30px;
	width: 90%;
	height: 100px;
	overflow: scroll;
	text-align:justify;
}
h1{text-align:center; 
color:#424242; 
font-family: Arial, Helvetica, san-serif;
font-size:36px; 
}

h2{ text-align:center;
color:#aa7941;
font-family: Arial, Helvetica, san-serif;
font-size:28px; 
}

img{ width:100%;}
