/* CSS Document */
/*Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Inknut+Antiqua:400,500,900,800,700,600,300|Ultra);
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica|Noto+Serif);
/* Development Helper Style */
.col{
	background: #ddd;
	box-sizing:border-box;
}

/* main style */

body{
	
	font-size:16px;
	background-color:#DCD7A2;
		
}

header {
	height:4em; /*6*16px*/
	text-align:center;
	padding: 2em;
	background: #ffc79;
	margin-bottom: 0.5em;
	
       }
	   
#container{
	width:80%;
	margin: 0 auto;
}
	   

	
	
#banner{
	background:#ffc79;
	height:20em;
	margin-bottom: .5em;
	
	
}
#row1 .col, #row2 .col{ 
            height:6em;
			
}
#row2 .col{
	    height:6em;
}
	   

/* type styles */
h1{ 
font-family: 'Inknut Antiqua', serif;
font-size: 4em;
    font-weight:100;
	letter-spacing:2px;
	text-transform:uppercase;
	margin-bottom: .5em;
	width: 100%;
}

header h2{
	font-family: 'Ultra', serif;
	font-size:1em;
	font-weight:100;
	
	
}

/* LINKS FORMAT */
a:visited{ color: hsla(179,42%,48%,1.00);}
a:hover{color: hsla(26,51%,56%,1.00);}
a:active{color: hsla(108,48%,52%,1.00);}

#main-content p{ 
    margin-top: 6em;
    margin-bottom:3em
        ;}
		
/*Paragraph Format */
 p {	font-size: 14px;
	font-family: 'Noto Serif', serif;
 	margin: 15px;
	padding: 15px;
	background-color: #E8D9DA;}


/* FOOTER FORMAT */	 
	 footer {
	 font-size: 80%;
	 padding: 7px 0px 0px 20px;}
	 
#sticky footer{position:fixed;
   left:0px;
   bottom:0px;
   height:75px;
   width:100%;
   background:#999;}