/* CSS Document for Sticky footer*/

* {
  margin: 10%;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 60px; 
}
.site-footer {
  background: #995E0C;
  position:absolute; 
  width: 100%;
}

