/* CSS Document */
<!--body{ width: 90%;
<!--margin: 0 auto;}
<!--h1{ width: 100%;
<!--align-content:center;}

<!--#header { 
<!--width: 100%; margin: 30px;   }
<!--#nav {   
<!--width: 100%;
  }

<!--#footer{ padding: 0.5em 0;   }




/* CSS Document */
header, section, footer, aside, nav, article, figure, figcaption { display: block;}

body{ color: #1B1B1B;
      background-color: #DCD7A2;
	  background-image: url("../images/farmland.jpg");
	  background position: center;
	  font-family: Georgia, Times, serif;
	  line-height: 1.4em;
	  margin: 0px;}
	  
.wrapper{ width: 1000px;
          margin: 20px auto 20px auto;
		  border: 2px solid #000000;
		  background-color: #DCD7A2;}
		  
header {  height: 16px;
          background-color: #DCD7A2 }
h1{  
	text-align:center; 
     width: 1000px;
	 height: 130px;
	 margin: 10px; }
	 
	 
nav, footer { clear: both;
color: #ffffff;
background-color: #aeaca8;
height: 30px; }

nav ul{
	margin: 0px;
	padding: 5px 0 px 5px 30px; }
	
nav li {
	margin: 0px; 
	padding: 5px 0px 5px 30px; }
	
nav li a{ color: #ffffff; }

nav li a:hover, vav li a.current{
	color: #000000;}
	
	section.courses{
		float: left;
		width: 659px; 
		border-right: 1px solid #eeeeee;}
		
article { clear: both;
overflow: auto;
margin: 5%;
width: 90%;}

hgroup{ margin-bottom: 40px;}

figure{ float: left; 
        width: 355px;
		height: 205px; 
		padding: 5px;
		margin: 20px; 
		border: 1px solid #eeeeee; }
		
aside{ width: 230px;
       float: left;
	   padding: 0px 0px 0px 20px;}
	   
aside section a{
	display: block; 
	padding: 10px; 
	border-bottom: 1px solid #eeeeee; }
	
figcaption { font-size: 90%;
             text-align: left; }
			 
aside {
	      width: 230px;
		  float: left;
		  padding: 0px 0px 0px 20px; }
		  
aside section a:hover {
	      color: #985d6a;
		  background-color: #efefef; }
		  
a {       color: #de6581;
          text-decoration: none; }
		  
h1, h2, h3 {
	      font-weight: normal; }
h2{  margin: 10px 0px 5px 0px; 
     padding: 0px; }
	 
h3{  margin: 0px 0px 10px 0px;
     color: #de6581;}
aside h2 {
	 padding: 30px 0px 10px 0px;
	 color: #de6581; }
footer {
	 font-size: 80%;
	 padding: 7px 0px 0px 20px;}
	 
	 
		
		  
