

/* CSS Document *//* CSS STYLE FOR HEADERS, DIV, IMAGES, BODY */  

	 
<!---Google Fonts --->
@import url(https://fonts.googleapis.com/css?family=Inknut+Antiqua:400,500,900,800,700,600,300|Ultra);

img.align-left{ float: left; 
				margin-right: 10px;}
				
img.align-rigt{ float: right; 
				margin-right: 10px;}

img.align-center{ display: block; margin: 20px; }
	
	  
	
	
	
p{ 	
	margin: 30px;
	position: relative;
	left: 30px;
	width: 350px;
	}

#main-content p{ margin-bottom: 1em;}



   
header, section, footer, aside, nav, article, figure, figcaption { display: block;}

body{ color: #1B1B1B;
      background-color: #DCD7A2;
	  font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size:12px;
	  line-height: 1.4em;
	  margin: 0px;}
	  
.wrapper{ width: 1000px;
          margin: 20px auto 20px auto;
		  border: 2px solid #000000;
		  background-color: #DCD7A2;}
		  
header {  height: 16px;
          background-color: #DCD7A2 }
h1{  
	 
	
    text-align: center;
    color:rgba(48,14,9,1.00);;
    font-size: 50px;
	 
	padding: 10px; 
	left: 0px;
	top: 0px;
	width: 100%;}
	
h2{ font-size:35px;
     text-align: center;
	 color:rgba(48,14,9,1.00);}
h3{font-size:25px;
   text-align: center;	
   color: rgba(48,14,9,1.00);
	
	 
	 
nav, footer { clear: both;
color: #ffffff;
background-color: #aeaca8;
height: 30px; }

nav ul{
	margin: 0px;
	padding: 5px 0 px 5px 30px; }
	
nav li {
	margin: 0px; 
	padding: 5px 0px 5px 30px; }
	
nav li a{ color: #ffffff; }

nav li a:hover, vav li a.current{
	color: #000000;}
	
	section.courses{
		float: left;
		width: 659px; 
		border-right: 1px solid #eeeeee;}
		
article { clear: both;
overflow: auto;
margin: 5%;
width: 90%;}
#main-content p{ 
    margin-top: 6em;
    margin-bottom:3em
        ;}

hgroup{ margin-bottom: 40px;}

figure{ float: left; 
        width: 355px;
		height: 205px; 
		padding: 5px;
		margin: 20px; 
		border: 1px solid #eeeeee; }
		
aside{ width: 230px;
       float: left;
	   padding: 0px 0px 0px 20px;}
	   
aside section a{
	display: block; 
	padding: 10px; 
	border-bottom: 1px solid #eeeeee; }
	
figcaption { font-size: 90%;
             text-align: left; }
			 
aside {
	      width: 230px;
		  float: left;
		  padding: 0px 0px 0px 20px; }
		  
aside section a:hover {
	      color: #985d6a;
		  background-color: #efefef; }
		  
a {       color: #de6581;
          text-decoration: none; }
		  
h1, h2, h3 {
	      font-weight: normal; }
h2{  margin: 10px 0px 5px 0px; 
     padding: 0px; }
	 
h3{  margin: 0px 0px 10px 0px;
     color: #de6581;}
aside h2 {
	 padding: 30px 0px 10px 0px;
	 color: #de6581; }
footer {
	 font-size: 80%;
	 padding: 7px 0px 0px 20px;}
	 
#sticky footer{position:fixed;
   left:0px;
   bottom:0px;
   height:75px;
   width:100%;
   background:#999;}
	 
	 
		
		  
