.ss-container {
  height: 0;
  padding-top: 1%;
  padding-bottom: 50%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

#slideshow {
    position:relative;
    width: 100%;
   height: auto;
   margin: 38%;
   
  }

#slideshow div {
   position:fixed;
   
   	width: 50%;
	height: 50%;
    top:0;
    left:30%;
    z-index:8;
    opacity:0.0;
    background-color: #FFF;
}

#slideshow div.active {
    z-index:10;
    opacity:1.0;
}

#slideshow div.last-active {
    z-index:9;
}

#slideshow div img {
    max-width: 100%;
	min-width: 50%;
    display: block;
    border: 0;
    margin-bottom: 10px;
}