h1{
    text-align: center;
    color:hsla(359,88%,17%,1.00);
    font-size: 100px;
}
h2{ font-size:50px;
	
}
img{ background-repeat:no-repeat;
	
	background-position:center;
	opacity:21;}

body{ font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style:inherit;
	  color:hsla(177,51%,76%,1.00);
	  font-size:14px;
	  
	
	
	background-size:cover;
	
}


.a{
    font-family:unifrakturcook;
	font-size:24px;
	text-align:center;
	padding:10px;
    width: 70%;
    margin:10%;
    float:left;
}
.b{
	width: 70%;
	float: left;
	padding: 30px;
	
}
.c{
	width: 70%;
	float: left;
	padding: 30px;
	
}
