h1{
    text-align: center;
    color:hsla(359,88%,17%,1.00);
    font-size: 100px;
}
h2{ font-size:50px;
     text-align: center;
	 color:rgba(35,38,81,1.00)}
h3{font-size: 30px;
   text-align: center;	
   color: rgba(48,14,9,1.00);
}
img{ background-repeat:no-repeat;
	
	background-position:center;
	opacity:21;}

body{ font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
      font-style:normal;
	  font-weight:normal;
	  color:rgba(0,0,0,1.00);
	  font-size:18px;
	  
	
	
	background-size:cover;
	
}


.a{
    font-family:unifrakturcook;
	font-size:18px;
	text-align:left;
	line-height:1.2em;
	padding:10px;
    width: 70%;
    margin-top:20%;
	margin-left:10%;
    float:left;
}
.b{
	font-family:unifrakturcook;
	font-size:18px;
	text-align:left;
	line-height:1.2em;
	padding:10px;
    max-width:30%;
    margin-top:40px;
	margin-left:10%;
	margin-right:10px;
	margin-bottom:40px;
    float:left;
	
}
.c{
	font-family:unifrakturcook;
	font-size:18px;
	text-align:left;
	line-height:1.2em;
	padding:10px;
    width: 70%;
    margin-top:5%;
	margin-left:10%;
    float:left;
	
}
#sticky footer{position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;}
   img.align-center{
	   display: block;
	   margin: 20px auto;
   }