/* CSS STYLE FOR HEADERS, DIV, IMAGES, BODY */  
h1{
    text-align: center;
    color:hsla(359,88%,17%,1.00);
    font-size: 50px;
	position: relative;
	padding: 10px; 
	left: 0px;
	top: 0px;
	width: 100px;
	background-color: #B6B2AF; 
}
h2{ font-size:35px;
     text-align: center;
	 color:rgba(35,38,81,1.00)}
h3{font-size:25px;
   text-align: center;	
   color: rgba(48,14,9,1.00);
}
img{ background-repeat:no-repeat;
	
	background-position:center;
	opacity:21;}

body{ font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
      font-style:normal;
	  font-weight:normal;
	  color:rgba(0,0,0,1.00);
	  font-size:15px;
	  background: #DCD7A2; 
	  
	
	
	background-size:cover;
	
}
p{ 	width: 300px;
	}

#main-content p{ margin-bottom: 1em;}

.a{
    font-family:unifrakturcook;
	font-size:18px;
	text-align:left;
	padding:10px;
    width: 70%;
    margin-top:30%;
	margin-left:10%;
    float:left;
}
.aa{ font-family:unifrakturcook;
	font-size:18px;
	text-align:left;
	padding:10px;
    width: 70%;
    margin-top:15%;
	margin-left:10%;
}
.b{
	ont-family:unifrakturcook;
	font-size:18px;
	text-align:left;
	padding:10px;
    width: 70%;
    margin:40px;
	
    float:left;
	
}
.c{
	width: 70%;
	float: left;
	padding: 30px;
	margin: 40px;
	
}
#sticky footer{position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;}
   img.align-center{
	   display: block;
	   margin: 20px auto;
   }
   .left {
		width: 35%;
		padding: 5%;
		float: left;
		min-width: 320px;}
		
		.right{
		width: 35%;
		padding: 5%;
		float: left;
		min-width: 320px;}
		
		.box {
		width: 190px;
		height: 100px;
		background: #eee;
		margin: 0px 5px 5px 0px;
		float: left;
		text-align: center;
		padding-top: 75px; 
		border: 1px solid #777;
	}