1{
    text-align: center;
    color:hsla(359,88%,17%,1.00);
    font-size: 70px;
}
h2{ font-size:50px;
     text-align: center;
	 color:rgba(35,38,81,1.00)}
h3{font-size: 30px;
   text-align: center;	
   color: rgba(48,14,9,1.00);
}
img{ background-repeat:no-repeat;
	
	background-position:center;
	opacity:21;}

body{ font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
      font-style:normal;
	  font-weight:normal;
	  color:rgba(0,0,0,1.00);
	  font-size:18px;
	  background: #DCD7A2; 
	  
	
	
	background-size:cover;
	
}


.a{
    font-family:unifrakturcook;
	font-size:18px;
	text-align:left;
	padding:10px;
    width: 70%;
    margin-top:30%;
	margin-left:10%;
    float:left;
}
.aa{ font-family:unifrakturcook;
	font-size:18px;
	text-align:left;
	padding:10px;
    width: 70%;
    margin-top:15%;
	margin-left:10%;
}
.b{
	ont-family:unifrakturcook;
	font-size:18px;
	text-align:left;
	padding:10px;
    width: 70%;
    margin-top:40px;
	margin-left:10%;
    float:left;
	
}
.c{
	width: 70%;
	float: left;
	padding: 30px;
	margin: 40px;
	
}
#sticky footer{position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;}
   img.align-center{
	   display: block;
	   margin: 20px auto;
   }
   .left {
		width: 40%;
		padding: 5%;
		float: left;
		min-width: 320px;}
		
		.right{
		width: 40%;
		padding: 5%;
		float: left;
		min-width: 320px;}